<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6267084377856111">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
</head>
<body>
   
    <div class="error404">
        <h1 style="margin-left:22%">4 &nbsp;&nbsp;&nbsp; 4</h1>
    </div>
    <div class="top"></div>
    <div class="bottom"></div>

    <ul>
        <a href="/" style="text-decoration: none; color: #d7d8d7;"><li >HOME &nbsp;&nbsp;</li></a>
        <li>GENRE &nbsp;&nbsp;</li>
        <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
        <a href="/search"><li id="search">SEARCH</li></a>
    </ul>
    
</body>
</html>