<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6267084377856111">
    <meta name="google-site-verification" content="K5Eyu5b9uw-_AzpJ8KMCx1fn-6M1xDRhIroT-l6QzIQ" />
    <meta name="description" content="get all latest movie and tv information">
    <meta name="keywords" content="movies,tv,series,popcorn,marvel,dc,hbo,hulu,netflix,prime,cbc,nbc,disney+,hbomax,alt balaji,hotstar,voot,tom hanks">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
   
</head>
<body >
    <div class="pic">
        
        <div class="left"></div>
        <div class="logo">
            <div class="line2"></div>
        </div>
        <div class="line1"></div>
        <div class="op">
            <p>abhi x divesh</p>
        </div>
        <form class="squery" action="/" method="POST">
            <input type="text" name="query" placeholder="Search for movie or tv-shows here." autocomplete="off">
            <button>SEARCH</button>
        </form>

        
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li style="color: #b6362d;">HOME &nbsp;&nbsp;</li></a>
            <li onclick=" droplist()">GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li id="search">SEARCH</li></a>
        </ul>
        <div class="dropdown" >
            <a href="/genre?id=28" class="droplink">ACTION</a><br>
            <a href="/genre?id=12" class="droplink">ADVENTURE</a><br>
            <a href="/genre?id=16" class="droplink">ANIMATION</a><br>
            <a href="/genre?id=35" class="droplink">comedy</a><br>
            <a href="/genre?id=80" class="droplink">crime</a><br>
            <a href="/genre?id=99" class="droplink">documentary</a><br>
            <a href="/genre?id=18" class="droplink">drama</a><br>
            <a href="/genre?id=10751" class="droplink">family</a><br>
            <a href="/genre?id=14" class="droplink">fantasy</a><br>
            <a href="/genre?id=36" class="droplink">history</a><br>
            <a href="/genre?id=27" class="droplink">horror</a><br>
            <a href="/genre?id=10402" class="droplink">music</a><br>
            <a href="/genre?id=9648" class="droplink">mystery</a><br>
            <a href="/genre?id=10749" class="droplink">romance</a><br>
            <a href="/genre?id=878" class="droplink">science fiction</a><br>
            <a href="/genre?id=10770" class="droplink">tv movie</a><br>
            <a href="/genre?id=53" class="droplink">thriller</a><br>
            <a href="/genre?id=10752" class="droplink">war</a><br>
            <a href="/genre?id=37" class="droplink">western</a><br>

        </div>
    </div>
   
    
</body>

<script>
    function droplist(){
        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log(val);
        if(val === 'none'){
            drop.style.display="block";
        }
        else{
            drop.style.display="none";
        }
    }
</script>
